<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <div class="wrapper">
        <main class="page">
            <div class="icon-background">
                <svg class="icon" width="508" height="586" viewBox="0 0 808 886" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g class="glow" filter="url(#filter0_f_1_3)">
                      <path d="M166.641 254.699L641.359 254.699L733 200L75 200L166.641 254.699Z" fill="url(#paint0_linear_1_3)" />
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M75 200L404 811V695.509L166.641 254.699L75 200Z" fill="url(#paint1_linear_1_3)" />
                      <path d="M641.359 254.699L404 695.509V811L733 200L641.359 254.699Z" fill="url(#paint2_linear_1_3)" />
                    </g>
                    <g filter="url(#filter1_d_1_3)">
                      <path d="M404 808L78.3745 202L729.626 202L404 808Z" fill="black" />
                    </g>
                    <path d="M200.314 276L403.999 654.765L403.999 555.529L278.954 323L200.314 276Z" fill="url(#paint3_linear_1_3)" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M607.684 276H200.314L278.954 323H529.044L607.684 276Z" fill="url(#paint4_linear_1_3)" />
                    <path d="M403.999 654.765L607.684 276L529.044 323L403.999 555.529L403.999 654.765Z" fill="url(#paint5_linear_1_3)" />
                    <path d="M200.315 276L607.685 276L686.324 229L121.676 229L200.315 276Z" fill="url(#paint6_linear_1_3)" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M121.676 229L404 754V654.765L200.315 276L121.676 229Z" fill="url(#paint7_linear_1_3)" />
                    <path d="M607.685 276L404 654.765V754L686.324 229L607.685 276Z" fill="url(#paint8_linear_1_3)" />
                    <defs>
                      <filter id="filter0_f_1_3" x="0.5" y="125.5" width="807" height="760" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="37.25" result="effect1_foregroundBlur_1_3" />
                      </filter>
                      <filter id="filter1_d_1_3" x="74.3745" y="202" width="659.251" height="614" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_3" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_3" result="shape" />
                      </filter>
                      <linearGradient id="paint0_linear_1_3" x1="80.622" y1="200" x2="732.622" y2="200" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#007586" />
                        <stop offset="1" stop-color="#000B6B" />
                      </linearGradient>
                      <linearGradient id="paint1_linear_1_3" x1="75.378" y1="200" x2="403.336" y2="811.356" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#0ACFDC" />
                        <stop offset="0.498038" stop-color="#003FE2" />
                        <stop offset="1" stop-color="#0199AD" />
                      </linearGradient>
                      <linearGradient id="paint2_linear_1_3" x1="732.622" y1="200" x2="404.664" y2="811.356" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#1F35FA" />
                        <stop offset="0.53" stop-color="#0F9CBB" />
                        <stop offset="1" stop-color="#013583" />
                      </linearGradient>
                      <linearGradient id="paint3_linear_1_3" x1="200" y1="276" x2="403.999" y2="654.765" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#004C6C" />
                        <stop offset="1" stop-color="#03ADC9" />
                      </linearGradient>
                      <linearGradient id="paint4_linear_1_3" x1="403.999" y1="276" x2="404" y2="322" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#005876" />
                        <stop offset="1" stop-color="#027687" />
                      </linearGradient>
                      <linearGradient id="paint5_linear_1_3" x1="572" y1="300" x2="404" y2="618" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#018399" />
                        <stop offset="1" stop-color="#004860" />
                      </linearGradient>
                      <linearGradient id="paint6_linear_1_3" x1="126.5" y1="229" x2="686" y2="229" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#007586" />
                        <stop offset="1" stop-color="#004B6B" />
                      </linearGradient>
                      <linearGradient id="paint7_linear_1_3" x1="122" y1="229" x2="404" y2="754" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#003956" />
                        <stop offset="1" stop-color="#0199AD" />
                      </linearGradient>
                      <linearGradient id="paint8_linear_1_3" x1="686" y1="229" x2="404" y2="754" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#007995" />
                        <stop offset="1" stop-color="#016483" />
                      </linearGradient>
                    </defs>
                  </svg>
            </div>
            <style>
                .icon-background{
                    background: #011521;
                }

                .glow{
                    /* transition: .2s; */
                    opacity: 0;
                }
                .glow._active{
                    opacity: 1;
                }
            </style>
            <script>
                document.querySelector('.icon').addEventListener("click",function(e){
                    document.querySelector('.glow').classList.add('_active');
                    setTimeout(removeClass, 100);
                    function removeClass(){
                        document.querySelector('.glow').classList.remove('_active');
                    }
                })
            </script>
        </main>
      
    </div>
</body>

</html>